#![enable(implicit_some)]
CustomDynamicAssetCollection({
     "mesh.mbody": File (
          path: "meshes/skeleton.glb#Mesh3/Primitive0",
     ),
     "mesh.fbody": File (
          path: "meshes/fbody.glb#Mesh0/Primitive0",
     ),
     "mesh.head": File (
          path: "meshes/mbody.glb#Mesh1/Primitive0",
     ),
     "mesh.hand": File (
          path: "meshes/hand.glb#Mesh0/Primitive0",
     ),
     "model.mbody_shatter": File (
          path: "meshes/mbody_shatter.glb#Scene0",
     ),
     "model.head_shatter": File (
          path: "meshes/head_shatter.glb#Scene0",
     ),
     "mesh.pizza_shades": File (
          path: "meshes/pizza_shades.glb#Mesh0/Primitive0",
     ),
     "mesh.square_shades": File (
          path: "meshes/square_shades.glb#Mesh0/Primitive0",
     ),
     "mesh.boombox": File (
          path: "meshes/boombox.glb#Mesh0/Primitive0",
     ),
     "mesh.headphones": File (
          path: "meshes/headphones.glb#Mesh0/Primitive0",
     ),
     "mesh.gun": UVSphereMesh ( // TODO: make like, an actual gun
          radius: 0.15,
     ),
     "mesh.sledge": File (
          path: "meshes/sledge.glb#Mesh0/Primitive0",
     ),
     "mesh.bullet_5cm": UVSphereMesh ( // TODO: switch to icospheres
          radius: 0.05,
     ),
     "mesh.bullet_8cm": UVSphereMesh (
          radius: 0.08,
     ),
     "mesh.bullet_10cm": UVSphereMesh (
          radius: 0.10,
     ),
     "rig.humanoid_skeleton": File (
          path: "meshes/skeleton.glb#Scene0",
     ),
     "rig.screamer": File (
          path: "meshes/screamer.glb#Scene0",
     ),
     "anim.screamer.idle.armed": File (
          path: "meshes/screamer.glb#Animation0",
     ),
     "anim.screamer.idle.unarmed": File (
          path: "meshes/screamer.glb#Animation1",
     ),
     // yikes. I'll have to split files or find a better way to index soon.
     "anim.hammer.charge": File (
          path: "meshes/skeleton.glb#Animation0",
     ),
     "anim.hammer.equip": File (
          path: "meshes/skeleton.glb#Animation1",
     ),
     "anim.hammer.swing": File (
          path: "meshes/skeleton.glb#Animation2",
     ),
     "anim.hammer.unswing": File (
          path: "meshes/skeleton.glb#Animation3",
     ),
     "anim.hammer.wind": File (
          path: "meshes/skeleton.glb#Animation4",
     ),
     "anim.idle": File (
          path: "meshes/skeleton.glb#Animation5",
     ),
     "anim.idle.boombox.left": File (
          path: "meshes/skeleton.glb#Animation6",
     ),
     "anim.idle.boombox.right": File (
          path: "meshes/skeleton.glb#Animation7",
     ),
     "anim.pistol.left": File (
          path: "meshes/skeleton.glb#Animation8",
     ),
     "anim.pistol.right": File (
          path: "meshes/skeleton.glb#Animation9",
     ),
     "anim.stretch": File (
          path: "meshes/skeleton.glb#Animation10",
     ),
     "tex.skin": File (
          path: "textures/generated/skin.png",
     ),
     "tex.dissolve": File (
          path: "textures/noise.png",
     ),
     "mat.body_gray": SketchMaterial (
          base_color: (0.5, 0.5, 0.5, 1.0),
     ),
     "mat.skin": SketchMaterial (
          base_color_texture: "textures/generated/skin.png",
     ),
     "mat.shades": SketchMaterial (
          base_color: (0.0, 0.0, 0.0, 1.0),
          perceptual_roughness: 0.2,
          reflectance: 1.0,
     ),
     "mat.bullet": SketchMaterial (
          base_color: (0.0, 0.0, 0.0, 0.0),
          emissive: (1.0, 0.65, 0.0, 0.0),
     ),
     "mat.laser": SketchMaterial (
          base_color: (0.0, 0.0, 0.0, 0.0),
          emissive: (1.0, 0.0, 0.0, 0.0),
          double_sided: true,
          cull_mode: NoCull,
     ),
     "mat.gun": SketchMaterial (
          base_color: (0.0, 0.0, 0.0, 0.0),
     ),
     "mat.grin": SketchMaterial (
          base_color_texture: "textures/generated/grin.png",
          layers: 2,
     ),
     "mat.smirk": SketchMaterial (
          base_color_texture: "textures/generated/smirk.png",
          layers: 2,
     ),
     "mat.grizz": SketchMaterial (
          base_color_texture: "textures/generated/grizz.png",
          layers: 2,
     ),
     "mat.meh": SketchMaterial (
          base_color_texture: "textures/generated/meh.png",
          layers: 2,
     ),
     // a bit repetitive, but too lazy to automate. perhaps I should hire an intern?
     // with a lot of bullets I feel like duplicating even a simple texture
     // like this could slow down, (full disclosure, I have no idea if this is true)
     // so I'll just share handles by writing this into the file to be safe.
     // plus the materials defined here can be replaced in the future.
     "mat.red_half_unlit": SketchMaterial (
          base_color: (1.0, 1.0, 1.0, 0.5),
          unlit: true,
          alpha_mode: Blend,
     ),
     "mat.red_unlit": SketchMaterial (
          base_color: (1.0, 1.0, 1.0, 1.0),
          unlit: true,
     ),
     "mat.orange_half_unlit": SketchMaterial (
          base_color: (1.0, 0.65, 0.0, 0.5),
          unlit: true,
          alpha_mode: Blend,
     ),
     "mat.orange_unlit": SketchMaterial (
          base_color: (1.0, 0.65, 0.0, 1.0),
          unlit: true,
     ),
     "mat.yellow_half_unlit": SketchMaterial (
          base_color: (1.0, 1.0, 0.0, 0.5),
          unlit: true,
          alpha_mode: Blend,
     ),
     "mat.yellow_unlit": SketchMaterial (
          base_color: (1.0, 1.0, 0.0, 1.0),
          unlit: true,
     ),
     "mat.green_half_unlit": SketchMaterial (
          base_color: (0.0, 1.0, 0.0, 0.5),
          unlit: true,
          alpha_mode: Blend,
     ),
     "mat.green_unlit": SketchMaterial (
          base_color: (0.0, 1.0, 0.0, 1.0),
          unlit: true,
     ),
     "mat.blue_half_unlit": SketchMaterial (
          base_color: (0.0, 0.0, 1.0, 0.5),
          unlit: true,
          alpha_mode: Blend,
     ),
     "mat.blue_unlit": SketchMaterial (
          base_color: (0.0, 0.0, 1.0, 1.0),
          unlit: true,
     ),
     "mat.violet_half_unlit": SketchMaterial (
          base_color: (1.0, 0.0, 1.0, 0.5),
          unlit: true,
          alpha_mode: Blend,
     ),
     "mat.violet_unlit": SketchMaterial (
          base_color: (1.0, 0.0, 1.0, 1.0),
          unlit: true,
     ),
     "mat.white_half_unlit": SketchMaterial (
          base_color: (1.0, 1.0, 1.0, 0.5),
          unlit: true,
          alpha_mode: Blend,
     ),
     "mat.white_unlit": SketchMaterial (
          base_color: (1.0, 1.0, 1.0, 1.0),
          unlit: true,
     ),
     "sfx.uzi": File (
          path: "audio/uzi-1800-rpm.ogg",
     ),
     "sfx.stomp": File (
          path: "audio/stomp.ogg",
     ),
     "sfx.dialogue.eightball": File (
          path: "audio/eightball-blip.ogg",
     ),
     "shader.pbr_bindings": File (
          path: "shaders/pbr_bindings.wgsl",
     ),
     "shader.pbr_types": File (
          path: "shaders/pbr_types.wgsl",
     ),
     "font.fira-sans": File (
          path: "fonts/FiraSans-Regular.ttf",
     ),
     "image.grin-icon": SketchUiImage (
          images: ["images/grin-icon-0.png", "images/grin-icon-1.png"],
     ),
     "image.grin-combo": SketchUiImage (
          images: ["images/grin-combo-0.png", "images/grin-combo-1.png"],
     ),
     "image.grizz-icon": SketchUiImage (
          images: ["images/grizz-icon-0.png", "images/grizz-icon-1.png"],
     ),
     "image.grizz-combo": SketchUiImage (
          images: ["images/grizz-combo-0.png", "images/grizz-combo-1.png"],
     ),
     "image.meh-icon": SketchUiImage (
          images: ["images/meh-icon-0.png", "images/meh-icon-1.png"],
     ),
     "image.meh-combo": SketchUiImage (
          images: ["images/meh-combo-0.png", "images/meh-combo-1.png"],
     ),
     "image.smirk-icon": SketchUiImage (
          images: ["images/smirk-icon-0.png", "images/smirk-icon-1.png"],
     ),
     "image.smirk-combo": SketchUiImage (
          images: ["images/smirk-combo-0.png", "images/smirk-combo-1.png"],
     ),
})
